
<nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
    <div class="sb-sidenav-menu">
        <div class="nav">
            <div class="sb-sidenav-menu-heading">İşlemler</div>
            <a class="nav-link" href="https://localhost:44353/Default/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                Siteye Git
            </a>
            <a class="nav-link" href="/About/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-Laptop"></i></div>
                Hakkımda
            </a>
            <a class="nav-link" href="/Category/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                Kategoriler
            </a>
            <a class="nav-link" href="/Project/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-diagram"></i></div>
                Projelerim
            </a>
            <a class="nav-link" href="/Contact/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-phone"></i></div>
                İletişim Bilgileri
            </a>
            <a class="nav-link" href="/Experience/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-suitcase"></i></div>
                Deneyimlerim
            </a>
            <a class="nav-link" href="/Service/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-diagram"></i></div>
                Hizmetlerim
            </a>
            <a class="nav-link" href="/Message/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-comment"></i></div>
                Gelen Mesajlar
            </a>
            <a class="nav-link" href="/Skill/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                Yeteneklerim
            </a>
            <a class="nav-link" href="/SocialMedia/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-list"></i></div>
                Sosyal Medya
            </a>
            <a class="nav-link" href="/Team/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-people-group"></i></div>
                Takım Arkadaşlarım
            </a>
            <a class="nav-link" href="/Testimonial/Index">
                <div class="sb-nav-link-icon"><i class="fas fa-thumbs-up"></i></div>
                Referanslarım
            </a>
        </div>
    </div>
    <div class="sb-sidenav-footer">
        <div class="small">Logged in as:</div>
        Start Bootstrap
    </div>
</nav>