@model MyPortfolio.Models.TblFeatures
@{
    ViewBag.Title = "AddProfile";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<br />
<br />
<h2>Yeni Profil Ekleme Sayfası</h2>

<form method="post">
    <input type="hidden" name="FetureId" />

    <label>Profil Fotoğrafı</label>
    <input type="text" name="ImageUrl" class="form-control" />
    <br />
    <label>İsim Soyisim</label>
    <input type="text" name="NameSurname" class="form-control" />
    <br />
    <label>Meslek</label>
    <input type="text" name="Title" class="form-control" />
    <br />
    <label>Durum</label>
    <input type="text" name="Status" class="form-control" />
    <br />

    <button class="btn btn-outline-primary">Kaydet</button>

</form>